{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle saison{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <div class="container">
        <div class="col align-self-center">
            <div class="text-white">
                <h1 class="text-center">Créer une nouvelle saison</h1>

                {{ include('season/_form.html.twig') }}

                <a href="{{ path('season_index') }}">Retour à la liste des saisons</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
