{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <div class="container">
        <div class="col align-self-center">
            <div class="text-white">
                <h1 class="text-center">Create new Season</h1>

                {{ include('season/_form.html.twig') }}

                <a href="{{ path('season_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
