{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}
{% block body %}
<a href="{{ path('wild_index') }}">
    Retour aux séries
</a>
<div class="col-3 mt-3 text-white d-flex justify-content-center text-center">
    {{ form_start(formCategory) }}

    {{ form_row(formCategory.name, {'label': 'Add a new category :'}) }}

    {{ form_end(formCategory) }}
</div>
{% endblock %}