$theme-colors: (
        "dark": #636363
);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
}

.card {
    background-color: #FFFFFF;
}

.homeMessage {
    font-size: 10vh;
    margin-top: 30vh;
}


