{% extends "base.html.twig" %}

{% block body %}
<h2 class="mt-5 ml-5 text-white"> Nos dernières séries</h2>
{% for program in programs %}
    <div class="ml-5 mr-5 w-50 card">
        <a class="ml-2 mt-2 text-dark" href="{{ path('wild_show_program', {'slug': program.slug }) }}">{{ program.title }} ( {{ program.category.name }} )</a>
        <p class="m-3">{{ program.summary }}</p>
    </div>
{% else %}
    Aucune série trouvée.
{% endfor %}
{% endblock %}
